* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --numThumbs: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(124, 124, 124);
  margin-bottom: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.slider {
  position: relative;
  width: 75%;
  height: 100%;
  background-color: rgb(5, 248, 248);
}

.thumbs {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  background-color: rgb(10, 111, 111);
  border-left: 6px solid gray;
}

.thumb {
  position: relative;
  height: calc(100% / var(--numThumbs));
  cursor: pointer;
}

.thumb-overlay::after{
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-nav {
  position: absolute;
  height: 45px;
  width: 45px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.btn-nav.btn-nav-up {
  top: 10px;
}

.btn-nav.btn-nav-down {
  bottom: 10px;
}